/* .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 24px;
    background-color: #f9fafb;
    min-height: 80vh;
}
.dashboard h2,
.dashboard h3 {
    color: #0d3459;
    font-weight: 600;
}

.card {
    height: auto;
    background-color: rgb(249, 249, 249);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #371f1f;
}

.chartsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
} */



.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 24px;
    background-color: #f9fafb;
    min-height: 80vh;
}

.dashboard h2,
.dashboard h3 {
    color: #0d3459;
    font-weight: 600;
}

.card {
    height: auto;
    background-color: rgb(249, 249, 249);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #371f1f;
}

.chartsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: center; /* Grafiklerin dikey hizalaması */
}

/* Sağdaki grafiğin dikey ortalanması */
.chartsContainer .card:nth-child(2) {
    align-self: center;
}
